.caixa {
    width: 400px;
    background: #dedede url(fundo-arredondamento.png) repeat-y;
}  

.caixa h2 {
    padding: 10px 20px 0 20px;
    background: url(topo2.png) no-repeat left top;
}

.caixa p {
   padding: 0 20px;

   margin-bottom: 0;
}

.ultimo {
    width: 400px;
    height: 24px;
    background: url(baixo2.png) no-repeat left bottom;

}

/*
.caixa p {
    padding: 0 20px 20px 20px ;

    background: url(baixo2.png) no-repeat left bottom;
}

.caixa h2{
    padding: 10px 20px 0 20px ;

} */